


.contact-icon{
    width: 60px;
}

.contact-icon.lg-icons{
    width: 40px;
}

.working-photos{
    transition: 0.3s ease-in-out;
}

.working-photos:hover{
    transform: scale(1.1);
}

.banner{
    width: 116%;
}

.info-text{
    /* font-size: 13px; */
    color: #000;
}

.info-box{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    font-size: 1.2rem;
    word-spacing: 3px;
}